<!DOCTYPE html>
<html dir="ltr" lang="tr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex,nofollow" />
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="~/Admin/assets/images/favicon.png" />
    <link href="~/Admin/assets/libs/flot/css/float-chart.css" rel="stylesheet" />
    <link href="~/Admin/dist/css/style.min.css" rel="stylesheet" />
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="~/Admin/assets/images/favicon.png" />
    <link href="~/css/csshtml.css" rel="stylesheet" />
    <link href="~/Admin/assets/libs/fullcalendar/dist/fullcalendar.min.css"
          rel="stylesheet" />
    <link href="~/Admin/assets/extra-libs/calendar/calendar.css" rel="stylesheet" />
    <link href="~/Admin/dist/css/style.min.css" rel="stylesheet" />

</head>

<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div id="main-wrapper"
         data-layout="vertical"
         data-navbarbg="skin5"
         data-sidebartype="full"
         data-sidebar-position="absolute"
         data-header-position="absolute"
         data-boxed-layout="full">

        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">

                    <a class="navbar-brand" href="index.html">

                        <b class="logo-icon ps-2">

                            <img src="~/Admin/assets/images/logo-icon.png"
                                 alt="homepage"
                                 class="light-logo"
                                 width="25" />
                        </b>

                        <span class="logo-text ms-2">
                          
                            <img src="~/Admin/assets/images/logo-text.png"
                                 alt="homepage"
                                 class="light-logo" />
                        </span>

                    </a>

                    <a class="nav-toggler waves-effect waves-light d-block d-md-none"
                       href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                </div>

                <div class="navbar-collapse collapse"
                     id="navbarSupportedContent"
                     data-navbarbg="skin5">

                    <ul class="navbar-nav float-start me-auto">
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link sidebartoggler waves-effect waves-light"
                               href="javascript:void(0)"
                               data-sidebartype="mini-sidebar">
                                <i class="mdi mdi-menu font-24"></i>
                            </a>
                        </li>

                    
                    </ul>

                    <ul class="navbar-nav float-end">

                   
                        @await Component.InvokeAsync("NotificationAdminHeader")


                        @await Component.InvokeAsync("MessageNotificationAdminHeader")

                        @await Component.InvokeAsync("UserAdminHeader")


                        

                    </ul>
                </div>
            </nav>
        </header>

        <aside class="left-sidebar" data-sidebarbg="skin5">

            <div class="scroll-sidebar">

                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="pt-4">
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="/Admin/AdminDashboard/Index/"
                               aria-expanded="false">
                                <i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="/Admin/AdminMessage/Inbox/"
                               aria-expanded="false">
                                <i class="mdi mdi-message-image"></i><span class="hide-menu">Mesajlar</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="/Admin/AdminAbout/Index/"
                               aria-expanded="false">
                                <i class="mdi mdi-chart-bubble"></i><span class="hide-menu">Hakkında</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="/Admin/AdminBlog/Index/"
                               aria-expanded="false">
                                <i class="mdi mdi-border-inside"></i><span class="hide-menu">Bloglar</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="/Admin/Comment/Index/"
                               aria-expanded="false">
                                <i class="mdi mdi-border-inside"></i><span class="hide-menu">Blog Yorumlar</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="/Admin/AdminArticle/Index/"
                               aria-expanded="false">
                                <i class="mdi mdi-border-inside"></i><span class="hide-menu">Makaleler</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="/Admin/MedicalProductsAdmin/Index/"
                               aria-expanded="false">
                                <i class="mdi mdi-border-inside"></i><span class="hide-menu">Medikal Ürünler</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="/Admin/Comment/IndexProduct/"
                               aria-expanded="false">
                                <i class="mdi mdi-border-inside"></i><span class="hide-menu">Medikal Ürün Yorumlar</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="/Admin/Contact/Index/"
                               aria-expanded="false">
                                <i class="mdi mdi-blur-linear"></i><span class="hide-menu">İletişim</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="/Admin/AdminNotification/Index/"
                               aria-expanded="false">
                                <i class="mdi mdi-notification-clear-all"></i><span class="hide-menu">Bildirimler</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark"
                               href="javascript:void(0)"
                               aria-expanded="false">
                                <i class="mdi mdi-receipt"></i><span class="hide-menu">Kategoriler</span>
                            </a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a href="/Admin/Category/MedicalCategori/" class="sidebar-link">
                                        <i class="mdi mdi-note-outline"></i><span class="hide-menu">Medikal Ürün Kategori</span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="/Admin/Category/ArticleCategori/" class="sidebar-link">
                                        <i class="mdi mdi-note-plus"></i><span class="hide-menu">Makale Kategori</span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="/Admin/Category/Index/" class="sidebar-link">
                                        <i class="mdi mdi-note-plus"></i><span class="hide-menu">Blog Kategori</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark"
                               href="javascript:void(0)"
                               aria-expanded="false">
                                <i class="mdi mdi-read"></i><span class="hide-menu">Roller</span>
                            </a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item">
                                    <a href="/Admin/AdminRole/Index/" class="sidebar-link">
                                        <i class="mdi mdi-face-profile"></i><span class="hide-menu">Roller</span>
                                    </a>
                                </li>
                                <li class="sidebar-item">
                                    <a href="/Admin/AdminRole/UserRoleList/" class="sidebar-link">
                                        <i class="mdi mdi-face-profile"></i><span class="hide-menu">Kullanıcı Rol Listesi</span>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="/Admin/Writer/Index/"
                               aria-expanded="false">
                                <i class="mdi mdi-account"></i><span class="hide-menu">Yazarlar</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="/Admin/Writer/AdminEditProfile/"
                               aria-expanded="false">
                                <i class="mdi mdi-settings"></i><span class="hide-menu">Ayarlar</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="/Admin/Blog/ExtractListExcel/"
                               aria-expanded="false">
                                <i class="mdi mdi-export"></i><span class="hide-menu">Excel Export</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="/Admin/Presentation/Index/"
                               aria-expanded="false">
                                <i class="mdi mdi-presentation"></i><span class="hide-menu">(Ana Sayfa) Sunum</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               href="/Admin/Subscribe/Index/"
                               aria-expanded="false">
                                <i class="mdi mdi-mailbox"></i><span class="hide-menu">Abonelikler</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>

        </aside>

        <div class="page-wrapper">
            <div class="container-fluid">

                @RenderBody()

            </div>
            <footer class="footer text-center">
                <br />
                <br />
                <br />
                © @DateTime.Now.Year Bütün Hakları saklıdır.
                <a href="#"></a>.
            </footer>

        </div>

    </div>

    <script src="~/Admin/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Admin/assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="~/Admin/dist/js/waves.js"></script>
    <script src="~/Admin/dist/js/sidebarmenu.js"></script>
    <script src="~/Admin/dist/js/custom.min.js"></script>
    <script src="~/Admin/assets/libs/flot/excanvas.js"></script>
    <script src="~/Admin/assets/libs/flot/jquery.flot.js"></script>
    <script src="~/Admin/assets/libs/flot/jquery.flot.pie.js"></script>
    <script src="~/Admin/assets/libs/flot/jquery.flot.time.js"></script>
    <script src="~/Admin/assets/libs/flot/jquery.flot.stack.js"></script>
    <script src="~/Admin/assets/libs/flot/jquery.flot.crosshair.js"></script>
    <script src="~/Admin/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="~/writer/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/Admin/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/Admin/assets/libs/moment/min/moment.min.js"></script>
    <script src="~/Admin/assets/libs/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="~/Admin/dist/js/pages/calendar/cal-init.js"></script>
    @await RenderSectionAsync("scripts", false)
</body>
</html>

