@model EntityLayer.Concrate.AppUser

<div class="modal-content" style="width:600px; " id="Modaltest">

    <div class="modal-body">
        <h3>@Model.NameSurname</h3> <br />
        <small>@Model.About</small><br />
        <h6>Tanıtım Videosu</h6>  <br />

        <div>
            <iframe width="560" height="315"
                    src="@Model.VideoUrl" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

        </div>
    </div>

</div>




