@model ResetPasswordViewModel
@{
    ViewData["Title"] = "PasswordReset";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Şifremi Unuttum</h3>
        @if (ViewBag.State == null)
        {
            <div class="row inner-sec">
                <div class="login p-5 bg-light mx-auto mw-100">
                    <form method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label asp-for="Email">Email</label>
                            <input type="text" class="form-control" asp-for="@Model.Email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" required="">
                        </div>
                        <button type="submit" class="btn btn-primary submit mb-4">Yeni Şifre Talebi Gönder</button>
                        <p><a href="/Login/Index/">Vazgeç</a></p>

                        <small style="color:darkred;">@ViewBag.Hata</small>
                    </form>
                </div>
            </div>
            <div asp-validation-summary="All"></div>
        }
        else
        {
            if (ViewBag.State)
            {
                <br />
                @:<div class="alert-success">Şifre talebi için e-posta adresinize bilgilerindirici mail gönderilmiştir.</div>
            }
            else
            { <br />
                @:<div class="alert-success">Böyle bir e-posta bulunmamaktadır.</div>
            }
        }
    </div>
</section>
