<div class="tech-btm">
    <div id="PlaceHolderHere"></div>   
 
    <p>Bütün Yazılarımızı Mail Yoluyla Alın</p>
    <div class="container">
        <form action="/NewsLetter/SubscribeMail/" method="post">
            <input type="email" placeholder="Email" required="" name="Mail">
            <button type="button" class="btn btn-primary my-button" data-toggle="modal" data-target="#myModalSubs">
                Abone Ol
            </button>
            @Html.AntiForgeryToken()
            <div class="modal" id="myModalSubs">
                <div class="modal-lg">
                    <div class="modal-content">


                        <div class="modal-header">
                            <h4 class="modal-title">Uyarı</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body">

                            Her hafta düzenli olarak açılan bloglar ve içerikleri tarafınızı mail olarak yollanacaktır."Evet, Kabul Ediyorum" butonuna basmanız durumunda kullanıcı sözleşmemizi kabul etmiş olursunuz.
                        </div>


                        <div class="modal-footer">
                            <input type="submit" id="btngetlist" class="btn btn-primary" value="Evet, Kabul Ediyorum">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Hayır, Kabul Etmiyorum</button>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

