
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<head>

    <link href="~/css/cssHome.css" rel="stylesheet" />
</head>
@await Component.InvokeAsync("BlogBannerPresentation")

    @await Component.InvokeAsync("BlogSliderWriterPresentation")
  

    <section class="project-section">

        <h3 class="project-title-chance col-lg-12 footer-grid-agileits-w3ls" style="text-align:center;">
            <a class="bn5 btn project-item active outer-shadow" data-target=".Blog">Bloglar</a>
            <a class="bn5 btn project-item" data-target=".Medikal">Medikal Ürünler</a>
            <a class="bn5 btn project-item " data-target=".Makale">Makaleler</a>
        </h3>

        <br />

        <div class="fortest active Blog">
            @await Component.InvokeAsync("BlogListHomePage", new { page = ViewBag.pageblog })

        </div>

        <div class="fortest Medikal">
            @await Component.InvokeAsync("MedicalProductsListHomePage", new { page = ViewBag.pageproduct })
        </div>

        <div class="fortest Makale">
            @await Component.InvokeAsync("ArticlesListHomePage", new { page = ViewBag.pagearticle })

        </div>

    </section>



    <script type="text/javascript">
    function reply_click(clicked_id) {
        $.ajax({
                    url: "@Url.Action("WriterVideo", "Blog")",
            data: { id: clicked_id},
                    success: function (data) {
                        $(".modal-dialog").html(data);
                        $("#Modalpopup").modal('show');
                    }
                });
    }
    </script>

    <script type="text/javascript">
        (() => {
            const aboutSection = document.querySelector(".project-section"),
                tabscontainer = document.querySelector(".project-title-chance");
            tabscontainer.addEventListener("click", (event) => {
                if (event.target.classList.contains("project-item") && !event.target.classList.contains("active")) {
                    const target = event.target.getAttribute("data-target");
                    const target2 = event.target.getAttribute("data-parent");
                    tabscontainer.querySelector(".active").classList.remove("outer-shadow", "active");
                    event.target.classList.add("active", "outer-shadow");
                    var liElements = document.querySelectorAll(".fortest");
                    if (liElements.length > 0) {
                        for (var i = 0; i < liElements.length; i++) {
                            liElements[i].classList.remove("active")
                            aboutSection.querySelector(target).classList.add("active");
                        }
                    }
                }
            })
        })();


    </script>
