
<div class="tech-btm widget_social">
    <h4>Sosyal Medya Hesaplarımız</h4>
    <ul>

        <li>
            <a class="twitter" href="#">
                <i class="fab fa-twitter"></i>
               Twitter
            </a>
        </li>
        <li>
            <a class="facebook" href="#">
                <i class="fab fa-facebook-f"></i>
                 Facebook
            </a>
        </li>
        <li>
            <a class="dribble" href="#">
                <i class="fab fa-instagram"></i>

              İnstragram
            </a>
        </li>
        <li>
            <a class="pin" href="#">
                <i class="fab fa-linkedin"></i>
             LinkedIn
            </a>
        </li>

    </ul>
</div>