
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    border-color: #DDDDDD;
    cursor: default;
    z-index: 2;
}

.pagination > li > a,
.pagination > li > span {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: inherit;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 4px 10px;
    position: relative;
    text-decoration: none;
}

.page-item.active .page-link {
    background-color: #1ab394;
    border-color: #1ab394;
}

.page-link:focus {
    box-shadow: none;
}

.page-link:hover {
    color: #676a6c;
}

.pagination .footable-page.active a {
    background-color: #1ab394;
    border-color: #1ab394;
    color: white;
}
