
@{
    ViewData["Title"] = "ExtractListExcel";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<h5>Blogları Excel'e Aktar</h5>

<a href="/Admin/Blog/ExporDinamicExcelBlogList" class="btn btn-primary">Excel'e Aktar</a><br /><br /><br />
<h5>Medikal Ürünleri Excel'e Aktar</h5>

<a href="/Admin/Blog/ExporDinamicExcelMedicalProductsList" class="btn btn-primary">Excel'e Aktar</a><br /><br /><br />
<h5>Makaleleri Excel'e Aktar</h5>

<a href="/Admin/Blog/ExporDinamicExcelArticleList" class="btn btn-primary">Excel'e Aktar</a><br /><br /><br />
<h5>Yazarları Excel'e Aktar</h5>

<a href="/Admin/Blog/ExporDinamicExcelUsersList" class="btn btn-primary">Excel'e Aktar</a>
