@model EntityLayer.Concrate.AppUser



<li class="nav-item dropdown">
    <a class="
                    nav-link
                    dropdown-toggle
                    text-muted
                    waves-effect waves-dark
                    pro-pic
                  "
       href="#"
       id="navbarDropdown"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false">
        <img src="~/WriterImageFiles/@Model.Image"
             alt="user"
             class="rounded-circle"
             width="31" />
    </a>
    <div class="dropdown-menu dropdown-menu-end user-dd animated"
         aria-labelledby="navbarDropdown">
        <div class="dropdown-divider"></div>

        <a class="dropdown-item" href="#">
            <i class="mdi mdi-account me-1 ms-1"></i> @Model.NameSurname
        </a>
        <a class="dropdown-item" href="#">
            <i class="mdi mdi-wallet me-1 ms-1"></i> Rol: @ViewBag.RoleList
        </a>
        <a class="dropdown-item" href="/Admin/Writer/AdminEditProfile/">
            <i class="mdi mdi-settings me-1 ms-1"></i> Ayarlar
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/Login/LogOut/"><i class="fa fa-power-off me-1 ms-1"></i>Çıkış Yap</a>
        <div class="dropdown-divider"></div>

    </div>
</li>