@using HealthProject.Areas.Admin.Models
@model RoleUpdateViewModel
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>Başarısız!</strong>&nbsp;&nbsp;&nbsp; @TempData["AlertMessage"]
    </div>
    <br />
}



<h1>Rol Güncelleme Sayfası</h1>
<form method="post">
    <div class="form-group">
        <input type="hidden" name="Id" value="@Model.Id" />
        <label>Role Başlığı</label>
        <input type="text" name="Name" value="@Model.Name" class="form-control" />

    </div>
    <button type="submit" class="btn btn-primary"></button>
</form>

